body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.datr-button {
  text-align: center;
  font-family: Roboto;
  border-radius: 15px 15px;
  background-color: red;
  color: white;
  border-color: white;
  padding: 15px 32px;
  text-decoration: none;
  float: right;
}

.datr-button:hover {
  background-color: white;
  color: red;
  border-color: red;
}
.datr-background {
  /* background-image: linear-gradient(white, red); */
  background-color: rgba(255, 0, 0, 0.7);
  opacity: 0.89;
  min-height: 100vh;
  min-width: 100vw;
}

.datr-slogan {
  text-align: center;
  font-size: 40px;
  color: red;
  font-family: Comfortaa;
}

.datr-table {
  border: 1px solid black;
}

.datr-circle {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 10px;
  background: #fff;
  font-size: 50px;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  transition: transform 500ms;
  will-change: transform;
}

.datr-circle:hover {
  transform: translateY(5px);
  background-image: linear-gradient(white, red);
}

.datr-circle-clicked {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 10px;
  background: #fff;
  font-size: 50px;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  transition: transform 500ms;
  will-change: transform;
  background-image: linear-gradient(white, red);
}